@page "/OrdersPage"
@using Domain.Entities
<PageTitle>Orders Page</PageTitle>

<h1>Orders List</h1>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Name</th>
        <th>Product Count</th>
        <th>Date/Time</th>
        <th></th>
    </tr>
    </thead>
    
    
</table>

</body>

<footer>
    
</footer>


@code {
    
}